@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
/* colors */
--bg-color: #F1F1F1;

--primary-color: #92A8D1;
--primary-color-light: #D4E4F3;
--primary-color-dark: #4E71B1;

--secondary-color: #F7CAC9;
--secondary-color-light: #F5E1E1;
--secondary-color-dark: #F4A2A0;

--fs-5: 1rem;
--fs-1: 1rem;
    
}

/* css reset code */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif'
}

body{
  

}

.top-header{
  font-size: 1rem;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  font-weight: 600;
}


/* HOME PAGE */
.home-page{
  height: 400vh;

}
/* topheader */
.top-header{
  background-color: var(--primary-color-light);
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.top-header p{
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

/* mainheader */
.main-header{
  background-color: var(--primary-color);
  padding: 0 100px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header a img{
  
}

.main-header nav li{
  display: inline-block;
  margin: 20px;
  list-style: none;
}

/* Products page */

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.container h2, .container h3 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}


.line {
  width: 80%;
  border: 2px solid black;
  margin: 10px auto;
  margin-bottom: 30px;
}


.ion-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}


.ion-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ion-card {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 200px;
}

.ion-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card-style {
  cursor: pointer;
}


.ion-card-header {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.ion-card-title {
  display: block;
  width: 100%;
  height: auto;
}

.ion-card-title img {
  width: 100%;
  height: auto;
}


.ion-card-content {
  padding: 15px;
  text-align: left;
}

.ion-card-content p {
  margin: 5px 0;
  font-family: 'Arial', sans-serif;
}

.group-name {
  font-weight: bold;
  font-size: 1.2em;
}

.merch-name {
  font-size: 1em;
}

.merch-price {
  font-size: 1em;
  color: #007BFF;
  font-weight: bold;
}

/* Order Page Styling */
.order-container {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.order-details-card {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 20px;
}


.order-product-image {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
}

.order-product-image img {
  width: 100%;
  height: auto;
  display: block;
}


.order-product-info {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.order-product-info p {
  margin: 10px 0;
  font-family: 'Arial', sans-serif;
}

.order-group-name {
  font-weight: bold;
  font-size: 2em;
}

.order-merch-name {
  font-size: 1.2em;
}

.order-merch-price {
  font-size: 1.2em;
  color: #007BFF;
  font-weight: bold;
}


.order-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.order-button:hover {
  background-color: #218838;
}
