@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
/* colors */
--bg-color: #F1F1F1;

--primary-color: #92A8D1;
--primary-color-light: #D4E4F3;
--primary-color-dark: #4E71B1;

--secondary-color: #F7CAC9;
--secondary-color-light: #F5E1E1;
--secondary-color-dark: #F4A2A0;

--fs-5: 1rem;
--fs-1: 1rem;
    
}

/* css reset code */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif'
}

body{
  

}

.top-header{
  font-size: 1rem;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  font-weight: 600;
}


/* HOME PAGE */
.home-page{
  height: 400vh;

}
/* topheader */
.top-header{
  background-color: var(--primary-color-light);
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.top-header p{
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

/* mainheader */
.main-header{
  background-color: var(--primary-color);
  padding: 0 100px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header a img{
  
}

.main-header nav li{
  display: inline-block;
  margin: 20px;
  list-style: none;
}

.main-header nav li a{
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/* hero */
.product-preview{
  background: linear-gradient(0deg, #92A8D1 0%, #F7CAC9 96%);
  height: 90vh;
  display: flex;
  justify-content: center;
}

.product-preview img{
  padding: 50px;
  height: 85vh;
  
}

.photocards{
  height: 907px;
  background-color: var(--secondary-color-light);
}